#form-checkout div.field input[type="text"],
#form-checkout div.field input[type="email"],
#form-checkout div.field input[type="text"]:focus,
#form-checkout div.field input[type="email"]:focus,
#form-checkout div.field.error input[type="text"]:focus,
#form-checkout div.field.error input[type="email"]:focus,
#form-checkout div.field.error input[type="text"],
#form-checkout div.field.error input[type="email"] {
    box-shadow:inset 0 0 2px #aaa!important;
    border:1px solid #aaa;
    padding:0.4em!important;
    width:12em;
    padding:0.2em;
    font-size:80%!important;
}
#form-checkout h2 {
    margin-top:1em;
    margin-bottom:0.5em;
    padding-bottom:0.25em;
    border-bottom:0.1em solid #bbb;
}
#form-checkout .field {
    clear:none;
    margin-right:1em;
}
#form-checkout .hidden {
    display:none;
}
#field-checkout-personal_data-firstname,
#field-checkout-personal_data-lastname,
#field-checkout-personal_data-email,
#field-checkout-personal_data-phone,
#field-checkout-delivery_address-firstname,
#field-checkout-delivery_address-lastname {
    width:13em;
    float:left;
}
#field-checkout-personal_data-email,
#field-checkout-personal_data-company,
#field-checkout-delivery_address-company  {
    clear:both !important;
}
#form-checkout #field-checkout-personal_data-lastname,
#form-checkout #field-checkout-personal_data-email,
#form-checkout #field-checkout-billing_address-zip,
#form-checkout #field-checkout-delivery_address-lastname,
#form-checkout #field-checkout-delivery_address-zip {
    float:left;
}
#form-checkout #field-checkout-billing_address-zip,
#form-checkout #field-checkout-delivery_address-zip {
    width:8em;
}
#form-checkout #input-checkout-billing_address-zip,
#form-checkout #input-checkout-delivery_address-zip {
    width:7em;
}
#form-checkout #field-checkout-billing_address-city,
#form-checkout #field-checkout-delivery_address-city {
    width:20em;
    float:left;
}
#form-checkout #input-checkout-billing_address-city,
#form-checkout #input-checkout-delivery_address-city {
    width:19em;
}
#form-checkout #field-checkout-billing_address-street,
#form-checkout #field-checkout-delivery_address-street {
    width:31em;
}
#form-checkout #input-checkout-billing_address-street,
#form-checkout #input-checkout-delivery_address-street {
    width:30em;
}
#field-checkout-billing_address-country,
#field-checkout-delivery_address-country {
    width:7em; 
}
#field-checkout-billing_address-country,
#field-checkout-delivery_address-country {
    clear:both!important;
}
#form-checkout.mode_display label {
    display:none;
}
#form-checkout.mode_display .field {
    margin-bottom:0px;
    margin-right:0.5em;
    width: auto!important;
}
label.radioType input {
    margin-right:0.5em;
}
#form-checkout div.field.error {
    background:transparent;
    border:none;
    padding:0;
    margin-top:0;
}
#form-checkout div.field.error .errormessage {
    display:none;
}
#form-checkout div.field.error input,
#form-checkout div.field.error input[type="text"],
#form-checkout div.field.error input[type="email"] {
    border:1px solid red;
}
#form-checkout.mode_display #field-checkout-accept_terms_and_conditions-accept {
    margin-top:1em;
    margin-bottom:1em;
}
#field-checkout-delivery_address-alternative_delivery label,
#form-checkout #field-checkout-accept_terms_and_conditions-accept label {
    display:inline-block;
}
#field-checkout-delivery_address-alternative_delivery .display-checkbox {
    display:none;
}
#form-checkout #field-checkout-accept_terms_and_conditions-accept .errormessage {
    display:block;
    color:red;
}
#form-checkout div.field.error input[type="text"],
#form-checkout div.field.error input[type="email"] {
    border:1px solid red;
}
#form-checkout div.field input[type="radio"],
#form-checkout div.field input[type="checkbox"] {
    margin-right:0.5em;
}
#input-checkout-checkout_back,
#input-checkout-next,
#input-checkout-confirm_back,
#input-checkout-finish {
    border:none;
    background-color:#75ad0a;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    color:white !important;
    font-weight:bold;
    font-size:100%;
    padding:0.3em 0.75em;
    margin-right:0.4em;
    cursor:pointer;
}
#input-checkout-checkout_back:hover,
#input-checkout-next:hover,
#input-checkout-confirm_back:hover,
#input-checkout-finish:hover {
    background-color:#eeeeee;
    color:#75ad0a !important;
}
#cart #cart_items .cart_item_title {
    margin-top:0.5em;
}
#content .cart_item_description {
    color:#666;
    line-height:1.25em;
    margin-bottom:0.5em;
}
#content .cart_item_comment_wrapper {
    margin-bottom:0;
    float:left;
} 
#content .cart_item_comment {
    margin-bottom:0;
} 
#cart .cart_item {
    border-bottom:0.1em solid #ccc;
    padding-bottom:0.5em;
    margin-bottom:1em;
}
#cart ul.cart_item_content li {
    display:inline;
}
.cart_item ul.cart_item_content {
    float:right;
    list-style-type:none !important;
    margin:0 !important;
    text-align:right;
}
.cart_item .price {
    display:inline-block;
    width:7em;
}
.cart_item .cart_item_quantity_unit {
    margin-right:2em;
}
