#form-checkout .field input[type="text"],
#form-checkout .field input[type="email"] {
    width: 14em;
    padding: 0.2em;
}
#form-checkout h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
    border-bottom: 0.1em solid #bbb;
}
#form-checkout .field {
    clear: none;
    margin-right: 2em;
}
#form-checkout .hidden {
    display:none;
}
#form-checkout #field-checkout-personal_data-name,
#form-checkout #field-checkout-personal_data-email,
#form-checkout #field-checkout-billing_address-zip,
#form-checkout #field-checkout-delivery_address-name,
#form-checkout #field-checkout-delivery_address-zip {
    float: left;
}
#form-checkout #input-checkout-billing_address-zip,
#form-checkout #input-checkout-delivery_address-zip {
    width: 8em;
}
#form-checkout #input-checkout-billing_address-city,
#form-checkout #input-checkout-delivery_address-city {
    width: 20em;
}
#form-checkout #input-checkout-billing_address-street,
#form-checkout #input-checkout-delivery_address-street {
    width: 31em;
}
#form-checkout.mode_display label {
    display: none;
}
#form-checkout.mode_display .field {
    margin-bottom: 0px;
}
label.radioType input {
    margin-right: 0.5em;
}
#form-checkout div.field.error {
    background: transparent;
    border: none;
    padding: 0;
    margin-top: 0;
}
#form-checkout div.field.error .errormessage {
    display: none;
}
#form-checkout div.field.error input {
    border: 1px solid red;
}
#form-checkout.mode_display #field-checkout-accept_terms_and_conditions-accept {
    margin-bottom:1em;
}
#field-checkout-delivery_address-alternative_delivery label,
#form-checkout #field-checkout-accept_terms_and_conditions-accept label {
    display: inline-block;
    margin-left:0.3em;
}
#form-checkout #field-checkout-accept_terms_and_conditions-accept .errormessage {
    display:block;
    color:red;
}
#input-checkout-checkout_back,
#input-checkout-next,
#input-checkout-confirm_back,
#input-checkout-finish {
    border:none;
    background-color:#75ad0a;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    color:white !important;
    font-weight:bold;
    font-size:100%;
    padding:0.3em 0.5em;
    margin-right:0.4em;
}
#input-checkout-checkout_back:hover,
#input-checkout-next:hover,
#input-checkout-confirm_back:hover,
#input-checkout-finish:hover {
    background-color:#eeeeee;
    color:#205C90 !important;
}
#cart #cart_items .cart_item_title {
    margin-top: 0.5em;
}
#content .cart_item_description {
    color: #666;
    font-size: 90%;
    line-height: 1.25em;
    margin-bottom: 0;
}
#content .cart_item_comment_wrapper {
    margin-bottom: 0;
    float: left;
} 
#content .cart_item_comment {
    margin-bottom: 0;
} 
#cart .cart_item {
    border-bottom: 0.1em solid #ccc;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}
#cart ul.cart_item_content li {
    display: inline;
}
.cart_item ul.cart_item_content {
    float: right;
    list-style-type: none !important;
    margin: 0 !important;
    text-align: right;
}
.cart_item .price {
    display: inline-block;
    width: 7em;
}
.cart_item .cart_item_count {
    margin-right: 2em;
}
